<tr>
  <td style="width: 11%">
    <%= link_to(profile_image(activity.user, :minor), activity.user.url) %>
  </td>
  <td>
    <p>
      <span style="font-size: 14px;"><%= link_to activity.user.name, activity.user.url %> <%= describe activity %></span>
      <span style="font-size: 10px; color: #929292; float: right;"><%= time_ago_in_words(activity.created_at) %></span>
    </p>
  </td>
</tr>
<tr>
  <td></td>
  <td>
    <%= render :partial => 'profile_comments', :locals => { :activity => activity } %>
  </td>
</tr>
